
.cbs-container {
	display: inline-block;
	min-width: 10em;
	max-width: 20em;
	border: 1px solid;
	border-radius: 3px;
}

.cbs-text-container {
	display: inline-block;
	min-width: 100%;
	
}

.cbs-text {
	display: inline-block;
	min-width: 8em;
	max-width: 17.6em;
	max-height: 1.1em;
	min-height: 1.1em;
	overflow: hidden;
	padding: 3px;
	float: left;
	text-overflow: ellipsis;
}

.cbs-button {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	background-color: #eeeeee;
	min-width: 16px;
	min-height: 16px;
}

.cbs-right {
	float: right;
}

.cbs-cursor-none {
	cursor: none;
}

.cbs-dropdown-container {
	display: inline-block;
	min-width: 100%;
}

.cbs-tool-container {
	display: block;
	background-color: #eeeeee;
	min-width: 100%;
}

.cbs-search-container {
	display: inline-block;
}

.cbs-input {
	border: 0;
}

.cbs-list-container {
	display: inline-block;
	padding: 0;
	max-height: 10em;
	overflow: auto;
}

.cbs-list {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.cbs-list-item {
	list-style: none;
	display: inline-block;
	min-width: 100%;
	min-height: 1.3em;
}

.cbs-state-highlight {
	background-color: highlight;
	min-width: 100%;
}
