
.ui-helper-hidden-accessible { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

.ui-state-disabled { 
	opacity: .35; 
	filter:Alpha(Opacity=35); 
	background-image: none; 
}

.cbs-state-highlight {
	background-color: highlight;
}

.cbs-text-container {
	display: inline-block;
	min-width: 10em;
	border:  darkgray solid thin;
}

.cbs-text {
	display: inline-block;
	overflow: hidden;
	padding: 3px;
	float: left;
	text-overflow: ellipsis;
}

.cbs-button {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	background-color: #eeeeee;
	min-width: 16px;
	min-height: 16px;
}

.cbs-right {
	float: right;
}

.cbs-cursor-none {
	cursor: none;
}

.cbs-dropdown-container {
	position: absolute;
	overflow: hidden;
	padding:.2em;
	z-index: 10000;
	background-color: #ffffff;
	box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);
}

.cbs-tool-container {
	display: block;
	background-color: #eeeeee;
}

.cbs-search-container {
	display: inline-block;
}

.cbs-input {
	border: 0;
	padding: 2px;
}

.cbs-list-container {
	display: block;
	padding: 0;
	max-height: 10em;
	overflow: auto;
}

.cbs-list {
	display: block;
	padding: 5px;
	margin: 5px;
}

.cbs-list-item {
	display: block;
}
